@font-face {
    font-family: Helvetica;
    src:url()
}

body{
    background-image: linear-gradient(#5B859E, #1D2441);
}

header {
    background-color: #BAC5CF;
}

.logo {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #1B203D;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #1B203D;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.eldenring-video {
    width: 700px;
    margin: 0 auto;
}

.video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    margin: 10px;
    text-align: center;
    display: block;
}

.left-arrow {
    padding-left: 20px;
}


.gameimage-1 {
    height: 350px;
    width: 300px;
}

.gameimage-2 {
    height: 350px;
    width: 300px;
    padding-left: 20px;
}

.gameimage-3 {
    height: 350px;
    width: 300px;
    padding-left: 20px;
}

.gameimage-4 {
    height: 350px;
    width: 300px;
    padding-left: 20px;
}

.gameimage-5 {
    height: 350px;
    width: 300px;
    padding-left: 20px;
}

.right-arrow {
    padding-left: 20px;
}

.gameimage-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    margin: 10px;
    text-align: center;
    display: block;
}

h1 {
    color:white;
    font-size: 2em;
    margin-left: 100px;
    margin-right: 100px;
}

h2 {
    color:white;
    font-size: 2em;
    text-align: center;
}
    
a {
    color: white
}

.cta-all {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.cta {
    background-image: linear-gradient(#1D2441, #5B859E);
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    max-width: 130px;
    margin: 5px;
    display: block;
}

.cta-group1, .cta-group2 {
    display: flex;
    gap: 5px;
}

.media-logo {
    margin: 20px;
}

.media {
    display: flex;
    margin-top: 120px;
    flex-direction: row;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.about {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.contact {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.media {
    display: flex;
    justify-content: center;
}

.media_icons {
    display: flex;
}

.media-links {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:700px){
    .logo {
        position: static;
        transform: translate(0%);
        width: 200px;
        object-fit: contain;
    }
    .cta-all {
        display: flex;
        flex-direction: column;
    }
    .cta-group1, .cta-group2 {
        justify-content: center;
    }
}

@media only screen and (max-width:600px){
    .search {
        flex: 1;
        width: 30px;
        height: 30px;
    }
    .shoppingcart {
        flex: 1;
        width: 30px;
        height: 30px;
    }
    .home {
        flex: 1;
        width: 30px;
        height: 30px;
    }
    .eldenring-video {
        margin: 1em 2em;
        width: 100%;
    }
    .gameimage-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .media {
        flex-direction: column;
        justify-content: center;
    }
    .media_icons {
        display: flex;
    }
    .media-logo {
        height: 20px;
        width: 20px;
    }
}
 
    