@font-face {
    font-family: Helvetica;
    src:url()
}

body{
    background-image: linear-gradient(#5B859E, #1D2441);
}

header {
    background-color: #BAC5CF;
}

.logo {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    object-fit: contain;
    width: 300px;
}

@media only screen and (max-width:700px){
    .logo {
        position: static;
        transform: translate(0%);
        width: 270px;
        object-fit: contain;
    }
}

@media only screen and(max-width:600px){
    .search {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.shoppingcart {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.home {
    flex: 1;
    padding: 10px;
    margin: 10px;
}
}

@media only screen and (max-width:600px){
    .search{
        width: 30px;
        height: 30px;
    }
    .shoppingcart{
        width: 30px;
        height: 30px;
    }
    .home{
        width:30px;
        height: 30px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10x;
    padding: 10px;
    justify-content: space-between;
    gap: 20px;
}
.eldenring-video {
    width: 700px;
    margin: 0 auto;
}

.video-container {
    display: flex;
}

@media only screen and (max-width:600px){
    .eldenring-video {
        margin: 1em 2em;
        width: 100%;
    }
}

h1{
    color:white;
    font-size: 2em;
    margin-left: 100px;
    margin-right: 100px;
}

.image {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    justify-content: center;
    gap: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

@media only screen and (min-width:600px){
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
  }

  h2{
        color:white;
        font-size: 2em;
        margin-left: 100px;
        margin-right: 100px;
    }
    
@media only screen and (min-width:600px){
    .cta-all {
        flex-direction: row;
        color: white;
    }
    .cta-all{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }
}

a{
    color: white
}

   @media only screen and (min-width:600px){
    .cta {
        flex-direction: row;
    }
    .cta{
    background-image: linear-gradient(#1D2441, #5B859E);
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    height: 30px;
}
}

a{
    color: white
}

@media only screen and (min-width:600px){
    .media{
    display: flex;
    margin-top: 120px;
    flex-direction: row;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
}

.media-logo {
    margin: 20px;
}

.about{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.contact{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}