@font-face {
    font-family: Helvetica;
    src:url()
}

.logo {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

@media all and (max-width: 420px){
    .logo {
        
    }
}

.search {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.shoppingcart {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.home {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.eldenring-video{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 6%;
}

@media all and (max-width: 420px){
    .eldenring-video {
        width: 100%;
    }
}

body{
    background-image: linear-gradient(#1D2441, #5B859E);
}

header {
    background-color: #BAC5CF;
}


.container{
    display: flex;
    flex-direction: column;
}

.item{
    flex: 1;
    padding: 10px;
    margin: 10px;
}

@media (min-width: 600px){
    .container {
        flex-direction: row;
    }
}